In [18]:
# list to dictionary
l1 = ['Admin','Clerk','Manager','Programmer']
l2 = ['King','Steven','Neena','Allen']
l3 = [1,2,3,4]
designations = zip(l1,l2)

for i in designations:
    print(i)
designationsD = dict(designations)

# designationsD

for i in designationsD:
    print('designation'+' is '+i+" "+designationsD[i])

('Admin', 'King', 1)
('Clerk', 'Steven', 2)
('Manager', 'Neena', 3)
('Programmer', 'Allen', 4)

In [19]:
d1 = {'key1':'val1','key2':'val2','key3':'val3'}

In [3]:
d1

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [6]:
d1['key1']

'val1'

In [1]:
d2 = {"Admin":"10 emp","Clerk":"30 emp"}

In [2]:
type(d2)

dict

In [3]:
d2

{'Admin': '10 emp', 'Clerk': '30 emp'}