# Python Notes 
###### Raghunath Dayala

<br>

In [1]:
# type this 'pwd' in Jupyter notebook to know in which directory you are right now..

pwd

'C:\\Users\\rdayala.ORADEV\\Downloads\\JupiterNotebooks\\AI-ML-Learning\\Python'

In [2]:
# to know list of keywords
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

In [5]:
help("if")

The "if" statement
******************

The "if" statement is used for conditional execution:

   if_stmt ::= "if" expression ":" suite
               ( "elif" expression ":" suite )*
               ["else" ":" suite]

It selects exactly one of the suites by evaluating the expressions one
by one until one is found to be true (see section Boolean operations
for the definition of true and false); then that suite is executed
(and no other part of the "if" statement is executed or evaluated).
If all expressions are false, the suite of the "else" clause, if
present, is executed.

Related help topics: TRUTHVALUE

## Variables

In [6]:
x = 1

In [7]:
x

1

In [8]:
y = 2

In [9]:
y

2

In [10]:
x, y = (1, 2)

In [12]:
x

1

In [13]:
y

2

In [14]:
name, age = "John", 25

In [15]:
name

'John'

In [16]:
age

25

In [17]:
x = 1

In [18]:
x

1

In [19]:
# for the same variable, we can assign multiple values
x = "John"

In [20]:
x

'John'

In [21]:
type(x)

str

In [22]:
x = 23

In [23]:
type(x)

int

In [24]:
id(x)

1664443264

In [25]:
m = 30

In [26]:
id(m)

1664443488

In [27]:
n = 30

In [28]:
# memory location of an object
id(n)

1664443488

In [29]:
x = True

In [30]:
print(x)

True

In [31]:
type(x)

bool

### Strings

In [32]:
y = 10

In [33]:
print(y + " Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
# convert int to string
print(str(y) + " Dollars")

10 Dollars

In [36]:
'Red' 'Car' # just appends both the strings

'RedCar'

In [40]:
print('Red''Car')

RedCar

In [38]:
print('Red' + 'Car')

RedCar

In [39]:
print('Red', 'Car') # Observe: you see a space between two strings

Red Car

## Arithmetic Operators

In [41]:
1 + 2

3

In [42]:
3 - 5

-2

In [43]:
3 * 5

15

In [44]:
15 / 3

5.0

In [45]:
16 / 3

5.333333333333333

In [47]:
# modulo operator - returns remainder
16 % 3

1

In [48]:
# this returns quotient
16 // 3

5

In [49]:
# power
5 ** 3

125

In [50]:
y = 5 ** 3

In [51]:
y == 125  # Equality check

True

In [54]:
# line continuation
2 + 5 * \
3

17

In [55]:
"Friday"[3]

'd'

## Comparison operators

In [56]:
10 == 10

True

In [57]:
10 != 10

False

In [58]:
15 > 10

True

In [59]:
15 < 10

False

In [63]:
15 >= 10 + 10

False

In [64]:
15 <= 10 + 5

True

In [82]:
'hi' == 'bye'

False

In [83]:
'hi' == "hi"

True

## Logical operators

In [65]:
True and True

True

In [66]:
True and False

False

In [67]:
False and False

False

In [68]:
True or False

True

In [69]:
False or False

False

In [70]:
not True

False

In [71]:
not False

True

In [72]:
3 > 5 and 10 <= 20

False

In [73]:
3 > 5 or 10 <= 20

True

In [84]:
(1 > 2) and (2 < 3)

False

In [85]:
(1 > 2) or (2 < 3)

True

In [86]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [75]:
# precedence : NOT, AND, OR
True and not False

True

In [76]:
False or not True and True

False

In [77]:
True and not True or True

True

In [78]:
5 is 6

False

In [79]:
5 is not 6

True

## Padding around String

In [87]:
text = 'Chapter 1'

In [88]:
# Add Spaces Of Padding To The Left
format(text, '>20')

'           Chapter 1'

In [89]:
# Add Spaces Of Padding To The Right
format(text, '<20')

'Chapter 1           '

In [90]:
# Add Spaces Of Padding On Each Side
format(text, '^20')

'     Chapter 1      '

In [92]:
# Add - Of Padding On Each Side
format(text, '-^20')

'-----Chapter 1------'

In [93]:
# Add * Of Padding On Each Side
format(text, '*^20')

'*****Chapter 1******'

## All Combinations For A List Of Objects

In [94]:
# Import combinations with replacements from itertools
from itertools import combinations_with_replacement

In [96]:
# Create a list of objects to combine
list_of_objects = ['A', 'B', 'C']

In [97]:
# Create an empty list object to hold the results of the loop
combinations = []

# Create a loop for every item in the length of list_of_objects, that,
for i in list(range(len(list_of_objects))):
    # Finds every combination (with replacement) for each object in the list
    combinations.append(list(combinations_with_replacement(list_of_objects, i+1)))
    
# View the results
combinations

[[('A',), ('B',), ('C',)],
 [('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')],
 [('A', 'A', 'A'),
  ('A', 'A', 'B'),
  ('A', 'A', 'C'),
  ('A', 'B', 'B'),
  ('A', 'B', 'C'),
  ('A', 'C', 'C'),
  ('B', 'B', 'B'),
  ('B', 'B', 'C'),
  ('B', 'C', 'C'),
  ('C', 'C', 'C')]]

In [98]:
# Flatten the list of lists into just a list
combinations = [i for row in combinations for i in row]

# View the results
combinations

[('A',),
 ('B',),
 ('C',),
 ('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('B', 'B'),
 ('B', 'C'),
 ('C', 'C'),
 ('A', 'A', 'A'),
 ('A', 'A', 'B'),
 ('A', 'A', 'C'),
 ('A', 'B', 'B'),
 ('A', 'B', 'C'),
 ('A', 'C', 'C'),
 ('B', 'B', 'B'),
 ('B', 'B', 'C'),
 ('B', 'C', 'C'),
 ('C', 'C', 'C')]

## Apply Operations Over Items in a List

You want to apply a function over all items in a list

### Method 1: map()

In [99]:
# Create a list of casualties from battles
battleDeaths = [482, 93, 392, 920, 813, 199, 374, 237, 244]

In [100]:
# Create a function that updates all battle deaths by adding 100
def updated(x): 
    return x + 100

In [101]:
# Create a list that applies the function updated() to all elements of battleDeaths
list(map(updated, battleDeaths))

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

### Method 2: for x in y

In [102]:
# Create a list of deaths
casualties = [482, 93, 392, 920, 813, 199, 374, 237, 244]

In [103]:
# Create a variable where we will put the updated casualty numbers
casualtiesUpdated = []

In [104]:
# Create a function that for each item in casualties, adds 10
for x in casualties:
    casualtiesUpdated.append(x + 100)

In [105]:
# View casualties variables
casualtiesUpdated

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

### Method 3: Lambda function [recommended]

In [106]:
# Create a list of deaths
casualties = [482, 93, 392, 920, 813, 199, 374, 237, 244]

In [107]:
# Map the lambda function x() over casualties
list(map((lambda x: x + 100), casualties))

[582, 193, 492, 1020, 913, 299, 474, 337, 344]