In [1]:
import pandas as pd

In [2]:
data = {'county': ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data)
print(df)

       county  reports  year
0     Cochice        4  2012
1        Pima       24  2012
2  Santa Cruz       31  2013
3    Maricopa        2  2014
4        Yuma        3  2014

In [3]:
dfColumnOrdered = pd.DataFrame(data, columns=['county', 'year', 'reports'])
print(dfColumnOrdered)

       county  year  reports
0     Cochice  2012        4
1        Pima  2012       24
2  Santa Cruz  2013       31
3    Maricopa  2014        2
4        Yuma  2014        3

In [4]:
dfColumnOrdered['newsCoverage'] = pd.Series([42.3, 92.1, 12.2, 39.3, 30.2])
print(dfColumnOrdered)

       county  year  reports  newsCoverage
0     Cochice  2012        4          42.3
1        Pima  2012       24          92.1
2  Santa Cruz  2013       31          12.2
3    Maricopa  2014        2          39.3
4        Yuma  2014        3          30.2

In [5]:
dfColumnOrdered.columns

Index(['county', 'year', 'reports', 'newsCoverage'], dtype='object')

In [6]:
dfColumnOrdered.columns.values

array(['county', 'year', 'reports', 'newsCoverage'], dtype=object)

In [7]:
list(dfColumnOrdered.columns.values)

['county', 'year', 'reports', 'newsCoverage']

In [8]:
list(dfColumnOrdered)

['county', 'year', 'reports', 'newsCoverage']